<footer id="footer">
    <div class="container">
        <div class="container-inner">
            <a id="back-to-top" href="javascript:;">
                <i class="icon fa fa-angle-up"></i>
            </a>
            <div class="credit">
                <p>&copy; <%= date(new Date(), 'YYYY') %>&nbsp;&nbsp;&nbsp;<%= config.title || config.author %></p>
            </div>
        </div>
    </div>
</footer>
