#header
  background: color-header-background
  padding-bottom: nav-height
  position: relative

#header-outer
  height: 100%
  position: relative

#header-inner
  position: relative

#header-title
  clearfix()
  padding: 30px 30px
  text-align: center
  .logo-wrap, .subtitle-wrap
    float: left
  .subtitle-wrap
    margin-left: 20px
    padding: 10px 0px 0px
  .subtitle
    color: color-nav-foreground
    font-size: 16px
    font-style: italic
    margin-top: 40px
    text-shadow: 0 1px rgba(0, 0, 0, 0.2)
